*{
    margin: 0;
    padding: 0;
}
body{
    font-family: verdana;
}
.proceed{
    transform: translateY(60%);
    padding-top: 30%;
    justify-content: center;
    margin-left: 75px;
}
a.start{
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    margin-left: 65px;
}
p{
    background-color: Dodgerblue;
    padding: 14px 16px;
    width: 75%;
    color: white;
    font-size: 8px;
    text-align: center;
    outline: none;
    border-radius: 30px;
    border: none;
    animation: zoom-in-zoom-out 3s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes bouncing-loader {
  to {
    opacity: 1;
    transform: translate3d(0, -13px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
  padding-top: 25%;
}

.bouncing-loader > div {
  width: 10px;
  height: 10px;
  margin: 3rem 0.2rem;
  background: red;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
